= aureus_row do
	= aureus_box "All Users" do
		= aureus_table for @user do |t|
			= t.head do
				= t.string Name
				= t.string Email
				= t.date Date
				= t.raw Non Sortable Column
			= t.row do |r|
				= r.cell user.name
				= r.cell user.email
				= r.cell user.last_sign_in
				= r.cell user.raw_data
				= r.buttons do |b|
					= b.show
					= b.reset
					= b.edit
					= b.destroy
					
		
		
		.row
		  .box
		    %h3 Alle Benutzer
		    %div
		      %table#task.datatable
		        %thead
		          %tr
		            %th Name
		            %th Email
		            %th Letzte Anemldung
		            %th Token
		            %th.no-sorting
		        %tbody
		          - @users.each do |user|  
		            %tr
		              %td
		                %strong= user.name
		              %td= user.email
		              %td= l user.current_sign_in_at
		              %td= user.authentication_token
		              %td.buttons
		                = link_to "ansehen", user_url(user) if can? :show, User
		                = link_to "reset", reset_user_url(user) if can? :reset, User
		                = link_to "bearbeiten", edit_user_url(user) if can? :update, User
		                = link_to "löschen", user_url(user), :method => :delete, :confirm => "Benutzer löschen?" if can? :destroy, User