.first
  = aureus_row do
    = aureus_box 'a box title' do
      %strong hello

.second
  = aureus_row do
    %strong only wrapper

.third
  = aureus_row do |r|
    - r.column 100 do
      .one-column

.fourth
  = aureus_row do |r|
    - r.column 2 do
      .first
    - r.space 2

.fifth
  = aureus_row do |r|
    - r.column 25 do
      .first
    - r.column 25 do
      .second
    - r.column 50 do
      .third
