!!! 5
%html
  %head
    %meta{ charset: 'utf-8' }
    %title Aureus
    = stylesheet_link_tag 'aureus/layout'
    = javascript_include_tag 'aureus/layout'
    = csrf_meta_tag
  %body
    = aureus_toolbar 'Aureus' do |t|
      - t.left do |l|
        - l.dropdown 'Dropdown' do |d|
          - d.link_to 'Element', '#'
          - d.link_to 'Element', '#'
        - l.info 'Info'
        - l.link_to 'Centered', centered_path
        - l.link_to 'Resources', resources_path
      - t.right do |r|
        - r.info 'Info'
        - r.dropdown 'Dropdown' do |d|
          - d.link_to 'Element', '#'
          - d.link_to 'Element', '#'
        - r.link_to 'Element', '#'
    = yield(:navigation)
    = aureus_messages flash
    .aureus_content= yield
