= aureus_box t('devise.ui.passwords.new.title'), centered: true, for: :form do |b|
  - b.content do
    = semantic_form_for resource, as: resource_name, url: password_path(resource_name), html: { method: :post } do |form|
      = form.input :email, label: t('devise.ui.passwords.new.email')
      = form.action :submit, label: t('devise.ui.passwords.new.submit')
  - b.foot do
    = render partial: '{{{folder}}}/shared/links'
