%p= t('devise.mail.reset_password_instructions.title', name: @resource.email)
%p= t('devise.mail.reset_password_instructions.info')
%p= link_to t('devise.mail.reset_password_instructions.link'), edit_password_url(@resource, reset_password_token: @token)
%p= t('devise.mail.reset_password_instructions.foot1')
%p= t('devise.mail.reset_password_instructions.foot2')
