= aureus_form @aureus_resource do |f|
  = aureus_row do |r|
    - r.column 25 do
      = aureus_box @aureus_box_title, for: :form do
        - @aureus_form_inputs.each do |input|
          = f.input *input
        = f.submit
    - r.space 75
