= aureus_form @aureus[:resource].call do |f|
  = aureus_row do |r|
    - r.column 25 do
      = aureus_box @aureus[:box_title], for: :form do
        - (@aureus[:form_inputs] || []).each do |input|
          = f.input *input
        = f.action :submit
    - r.space 75
