!!! 5
%html
  %head
    %meta{ charset: 'utf-8' }
    %title= Aureus.site_title
    = stylesheet_link_tag 'aureus/layout', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'aureus/layout', 'data-turbolinks-track' => true
    = csrf_meta_tag
  %body
    = aureus_toolbar (Aureus.toolbar_title || 'Aureus') do |t|
      - instance_exec(t, &Aureus.toolbar_builder)
    = yield(:navigation)
    = aureus_messages flash
    .aureus-content= yield
